__pycache__/
*.py[cod]
*.so

venv/
env/
.venv/

.vscode/
.devcontainer/

.env
*.env

.DS_Store
Thumbs.db

*.log

*.pid
docker-compose.override.yml
.dockerignore

.cache/
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

ehthumbs.db
desktop.ini

.idea/